* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  line-height: 1.4;
  background: #000514;
  color: #f1f1f1;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .title {
  padding: 0 2rem;
}

nav .navbar {
  display: flex;
  list-style: none;
  padding: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

nav .navbar li {
  padding: 1rem;
}

nav .social {
  padding: 0 2rem;
}

nav .social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .social ul li {
  padding: 0 1rem;
  color: #f1f1f1;
}
