//  VARIABLES

// Colors

$clr-primary: #f1f1f1;

$clr-background-primary: #000514;
$clr-background-secondary: #f1f1f1;
$clr-background-tertiary: #00081f;

$clr-white: #ffffff;


$dev: '../../media/code.svg';