.h-main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.h-main .banner {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}

.h-main .banner img {
  width: 100%;
  max-width: 800px;
  border-radius: 15px;
}

.h-main .h-desc {
  width: 100%;
  max-width: 800px;
  text-align: justify;
  font-size: 1.2rem;
}
