//720p
@media all and (max-width: 1500px) {
  * {
    font-size: 16px;
  }

  .hero {
    .hero-text {
      h2 {
        padding-top: 1rem;
      }
    }
  }
}

//4K
@media all and (min-width: 2500px) {
  * {
    font-size: 36px;
  }
}

// iPad

@media all and (max-width: 1300px) {
  * {
    font-size: 12px;
  }
  .hero {
    .hero-text {
      margin-bottom: 5px;
      h1 {
        font-size: 2.4rem;
      }
      h2 {
        padding-top: 1rem;
        margin-top: -10px;
        margin-bottom: 5px;
      }

      .get-in-touch {
        .cta,
        .subtle {
          width: 40%;
        }
      }
    }
  }
}

//Mobiles and Tabs
@media all and (max-width: 800px) {
  * {
    font-size: 14px;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }

  .body-padding-adder {
    padding-top: 280px;
  }
  .display-flex {
    display: flex !important;
  }
  nav {
    position: relative;
    z-index: 10;

    .title {
      padding: 1rem 2rem;
      text-align: center;
      position: relative;
      z-index: 10;
      a {
        font-size: 1.8rem;
      }

      &::after {
        display: none;
      }
    }

    .navbar {
      display: none;
      // float: left;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 101;
      flex-direction: column;
      background: #000514;
      list-style: none;
      padding: 1rem;
      flex: 1;
      align-items: center;
      justify-content: center;

      li {
        font-weight: bold;
        text-decoration: none;
        padding: 0.75rem 0px;
        width: 80%;
        border-radius: 10px;
        text-align: center;
        // border-top: 3px solid #f1f1f1;
        border-bottom: 3px solid #f1f1f1;
        margin: 0.3rem 20px;
        display: inline-block;
        position: relative;
        opacity: 0;
        animation: yourAnimation 0.5s ease forwards 0.1s;
        a {
          text-decoration: none;
          color: #f1f1f1;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
        }

        &::before {
          transition: none;

          height: 0px;
          content: "";
          position: absolute;
          background-color: #f1f1f1;
        }
      }
      .ltr {
        &::before {
          width: 0%;
          bottom: 15px;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
    .mobile-nav {
      display: block;
      cursor: pointer;
      i {
        color: #f1f1f1;
        pointer-events: none;
      }
    }
    .social {
      padding: 0 2rem;
      display: none;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          padding: 1rem 0rem;
          color: #f1f1f1;
          a {
            text-decoration: none;
            color: rgba(241, 241, 241, 0.8);
            i {
              cursor: pointer;
              &:hover {
                color: rgba(241, 241, 241, 1);
              }
            }
          }
        }
      }
    }
  }
  //hero
  .hero {
    max-width: 95vw;
    height: 80vh;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 1;
    .hero-text,
    .hero-image {
      position: relative;
      max-width: 80vw;
      z-index: -20;
    }
    .hero-text {
      text-align: center;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        text-align: center;
        &::after,
        &::before {
          opacity: 1;
          right: 0;
          left: 0;
        }
      }
      h2 {
        &::after,
        &::before {
          opacity: 1;
          right: 0;
          left: 0;
        }
      }
      .intro {
        width: 80vw;
        padding: 0;
        margin-top: -30px;
        margin-bottom: 50px;
      }
      .get-in-touch {
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cta,
        .subtle {
          width: 100%;
          margin: 0.2rem 0;
        }
      }
    }
  }

  //portfolio

  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;

    h1.p-header {
      font-size: 2rem;
      max-width: 100%;
    }
    h2.quote {
      width: 100%;
      padding: 0 1rem;
      text-align: center;
    }
  }

  //Experience
  .w-container {
    margin-top: 2rem;
  }
  div.css-o1utbh {
    width: 100%;
  }
  div.css-1jv1kel {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  //About
  .f-main {
    margin-top: 5rem;
    flex-direction: column;
    width: 100%;
    .f-image {
      width: 50%;
    }
    .f-body {
      padding: 0 2rem;
      margin-top: 30%;
      width: 100%;
    }
  }
}
