.s-main {
  display: flex;
  flex-direction: column;
  width: 55vw;
  margin: 0 auto;
  font-size: 1rem;
  align-items: center;
  margin-top: 1.5rem;
}

.skill-logo {
  width: 5rem;
}

.skill-section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-section h1 {
  font-size: 1.4rem;
  text-align: center;
  width: fit-content;
  padding: 0.2rem 1rem;
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #000514;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.skill-section .skill-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  justify-content: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  margin: 0 0.5rem;
}

.skill-card .skill-logo {
  margin-bottom: 0.4rem;
}

.skill-card .skill-logo:hover {
  animation: shaker 0.3s infinite 0s linear;
}

@keyframes shaker {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
