.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.main h1.p-header {
  font-size: 2.5rem;
  max-width: 100%;
}

.main a {
  text-decoration: none;
  color: #f1f1f1;
}

.main .project-cards {
  height: 75vh;
  max-width: 80%;
  background: #000514;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  flex-wrap: wrap;
}

.main .project-cards .project-card {
  height: 50%;
  width: 300px;
  background: #000514;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0.6rem;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px #000208, -5px -5px 10px #000820;
  transition: all 0.3s ease-in-out;
}

.main .project-cards .project-card .p-image {
  width: 100%;
}

.main .project-cards .project-card .p-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.main .project-cards .project-card .p-title {
  font-size: 1rem;
  text-align: center;
  margin: 0.3rem 0;
}

.main .project-cards .project-card .p-details {
  font-size: 0.8rem;
  text-align: center;
}

.main .project-cards .project-card .p-details span {
  font-size: 0.8rem;
  font-weight: 600;
}

.main .project-cards .project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.507);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

::selection {
  background-color: #ffffff;
  color: #000514;
}

body {
  line-height: 1.4;
  background: #000514;
  color: #f1f1f1;
  font-family: "Lato", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .title {
  padding: 0 2rem;
  font-family: "Pacifico", cursive;
  font-size: 1.3rem;
}

nav .title a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.3rem;
}

nav .title::after {
  content: "Work in Progress";
  color: #f1f1f1;
  font-size: 0.8rem;
  font-family: "Lato";
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  position: relative;
  top: -20px;
  right: 50px;
  transition: all 0.3s ease;
}

nav .title:hover::after {
  background: #f1f1f1;
  color: #000514;
}

nav .navbar {
  display: flex;
  list-style: none;
  padding: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

nav .navbar li {
  font-weight: bold;
  text-decoration: none;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

nav .navbar li a {
  text-decoration: none;
  color: #f1f1f1;
}

nav .navbar li:hover {
  opacity: 1;
  cursor: pointer;
}

nav .navbar li::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #f1f1f1;
}

nav .navbar .ltr::before {
  width: 0%;
  bottom: 15px;
}

nav .navbar .ltr:hover::before {
  width: 100%;
}

nav .social {
  padding: 0 2rem;
}

nav .social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .social ul li {
  padding: 0 1rem;
  color: #f1f1f1;
}

nav .social ul li a {
  text-decoration: none;
  color: rgba(241, 241, 241, 0.8);
}

nav .social ul li a i {
  cursor: pointer;
}

nav .social ul li a i:hover {
  color: #f1f1f1;
}

.hero {
  display: flex;
  margin: 2rem;
  min-width: 60vw;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
}

.hero .hero-text,
.hero .hero-image {
  max-width: 30vw;
}

.hero .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .hero-text h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  width: fit-content;
  margin-left: -0.8rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.hero .hero-text h1::after {
  position: relative;
  content: ">";
  opacity: 0;
  right: 10px;
  transition: all 0.5s ease-in-out;
}

.hero .hero-text h1::before {
  position: relative;
  content: "<";
  opacity: 0;
  left: 10px;
  transition: all 0.5s ease-in-out;
}

.hero .hero-text h1:hover::after {
  opacity: 1;
  right: -10px;
}

.hero .hero-text h1:hover::before {
  opacity: 1;
  left: -10px;
}

.hero .hero-text h2 {
  position: relative;
  top: -30px;
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
  margin: 0.4rem 0;
  color: #f1f1f1;
  border-radius: 10px;
}

.hero .hero-text h2::after {
  position: relative;
  content: "}";
  opacity: 0;
  right: 10px;
  transition: all 0.5s ease-in-out;
}

.hero .hero-text h2::before {
  position: relative;
  content: "{";
  opacity: 0;
  left: 10px;
  transition: all 0.5s ease-in-out;
}

.hero .hero-text h2:hover::after {
  opacity: 1;
  right: -10px;
}

.hero .hero-text h2:hover::before {
  opacity: 1;
  left: -10px;
}

.hero .hero-text .intro {
  height: auto;
  padding: 0.2rem 0;
  padding-left: 1rem;
  width: 30vw;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.hero .hero-text .get-in-touch {
  display: flex;
}

.hero .hero-text .get-in-touch button,
.hero .hero-text .get-in-touch Link {
  cursor: pointer;
  text-decoration: none;
}

.hero .hero-text .get-in-touch .cta {
  border: none;
  border-radius: 5px;
  padding: 0.6rem 0.5rem;
  margin: 1rem 0;
  margin-left: 1rem;
  background: #f1f1f1;
  text-align: center;
  color: #000514;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  width: 30%;
  line-height: 1.6;
  transition: all 0.3s ease-in-out;
}

.hero .hero-text .get-in-touch .cta:hover {
  width: 40%;
}

.hero .hero-text .get-in-touch .subtle {
  border: none;
  border-radius: 5px;
  padding: 0.6rem 0.5rem;
  margin: 1rem 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  background: #000514;
  color: #f1f1f1;
  border: 3px solid #f1f1f1;
  width: 30%;
  transition: all 0.3s ease-in-out;
}

.hero .hero-text .get-in-touch .subtle:hover {
  background: #f1f1f1;
  color: #000514;
}

.hero .hero-image img {
  width: 100%;
}

footer {
  display: flex;
  position: absolute;
  width: 100vw;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .foot {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
}

footer .foot a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 0.8rem;
}

@media all and (max-width: 1500px) {
  * {
    font-size: 16px;
  }
  .hero .hero-text h2 {
    padding-top: 1rem;
  }
}

@media all and (min-width: 2500px) {
  * {
    font-size: 36px;
  }
}

@media all and (max-width: 1100px) {
  * {
    font-size: 14px;
  }
  .hero .hero-text h1 {
    font-size: 2.4rem;
  }
  .hero .hero-text h2 {
    padding-top: 1rem;
    margin-top: 10px;
  }
}

.detail-page {
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  background-color: #03a9f4;
  transition: transform 0.5s, opacity 0.5s;
}

.detail-page.transition-appear {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
