@import "portfolio";
@import "about";
@import "Work";
@import "skills";
@import "hansei";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

::selection {
  background-color: #ffffff;
  color: #000514;
}

body {
  line-height: 1.4;
  background: #000514;
  color: #f1f1f1;
  font-family: "Lato", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    padding: 0 2rem;
    font-family: "Pacifico", cursive;
    font-size: 1.3rem;
    a {
      text-decoration: none;
      color: #f1f1f1;
      font-size: 1.3rem;
    }

    // &::after {
    //   content: "Work in Progress";
    //   color: #f1f1f1;
    //   font-size: 0.8rem;
    //   font-family: "Lato";
    //   font-weight: 600;
    //   padding: 0.2rem 0.5rem;
    //   border-radius: 3px;
    //   position: relative;
    //   top: -20px;
    //   right: 50px;
    //   transition: all 0.3s ease;
    // }
    // &:hover::after {
    //   background: #f1f1f1;
    //   color: #000514;
    // }
  }

  .navbar {
    display: flex;
    list-style: none;
    padding: 1rem;
    flex: 1;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: #f1f1f1;

      li {
        font-weight: bold;
        text-decoration: none;
        padding: 20px 0px;
        margin: 0px 20px;
        display: inline-block;
        position: relative;
        opacity: 0.75;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }

        &::before {
          transition: 300ms;
          height: 3px;
          content: "";
          position: absolute;
          background-color: #f1f1f1;
        }
      }
    }
    .ltr {
      &::before {
        width: 0%;
        bottom: 15px;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }

  .mobile-nav {
    display: none;
    i {
      color: #f1f1f1;
    }
  }

  .social {
    padding: 0 2rem;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 0 1rem;
        color: #f1f1f1;
        a {
          text-decoration: none;
          color: rgba(241, 241, 241, 0.8);
          i {
            cursor: pointer;
            &:hover {
              color: rgba(241, 241, 241, 1);
            }
          }
        }
      }
    }
  }
}

.hero {
  display: flex;
  margin: 2rem;
  min-width: 60vw;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  .hero-text,
  .hero-image {
    max-width: 30vw;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      font-size: 2.3rem;
      margin: 0;
      margin-bottom: 1rem;
      width: 80%;
      margin-left: 0.8rem;
      transition: all 0.3s ease-in-out;
      &::after {
        position: relative;
        content: "/>";
        opacity: 0;
        right: 10px;
        transition: all 0.5s ease-in-out;
      }
      &::before {
        position: relative;
        content: "<";
        opacity: 0;
        left: 10px;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        cursor: default;
        &::after {
          opacity: 1;
          right: -10px;
        }
        &::before {
          opacity: 1;
          left: -10px;
        }
      }
    }

    h2 {
      position: relative;
      top: -30px;
      font-size: 1.5rem;
      animation: yourAnimation 0.5s ease forwards 3.8s;
      margin-bottom: -5%;
      opacity: 0;
      color: #f1f1f1;
      border-radius: 10px;
      &::after {
        position: relative;
        content: "}";
        opacity: 0;
        right: 10px;
        transition: all 0.5s ease-in-out;
      }
      &::before {
        position: relative;
        content: "{";
        opacity: 0;
        left: 10px;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        cursor: default;
        &::after {
          opacity: 1;
          right: -10px;
        }
        &::before {
          opacity: 1;
          left: -10px;
        }
      }
    }

    .intro {
      height: auto;
      padding: 0.2rem 0;
      padding-top: 1rem;
      padding-left: 1rem;
      width: 30vw;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      opacity: 0;
      animation: yourAnimation 0.5s ease forwards 4.2s;
    }
    .get-in-touch {
      display: flex;
      opacity: 0;
      animation: yourAnimation 0.6s ease forwards 4.6s;

      button,
      Link {
        cursor: pointer;
        text-decoration: none;
      }
      .cta {
        border: none;
        border-radius: 5px;
        padding: 0.6rem 0.5rem;
        margin: 1rem 0;
        margin-left: 1rem;
        background: #f1f1f1;
        text-align: center;
        color: #000514;
        text-decoration: none;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        width: 35%;
        line-height: 1.6;
        transition: all 0.3s ease-in-out;
        &:hover {
          width: 40%;
        }
      }

      .subtle {
        border: none;
        border-radius: 5px;
        padding: 0.6rem 0.5rem;
        margin: 1rem 0.5rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        background: #000514;
        color: #f1f1f1;
        border: 3px solid #f1f1f1;
        width: 35%;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: #f1f1f1;
          color: #000514;
        }
      }
    }
  }

  .hero-image {
    img {
      width: 100%;
    }
  }
}

.foot {
  display: flex;
  position: absolute;
  margin-top: 2rem;
  width: 100vw;
  bottom: 10px;
  display: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;

  a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 0.8rem;
  }
}

//animations

.detail-page {
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  background-color: #03a9f4;
  transition: transform 0.5s, opacity 0.5s;

  &.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  &.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

// UI/UX SVG Animation

#UI {
  animation: fill-anim 0.5s ease forwards 3.3s;
  path {
    &:nth-child(1) {
      stroke-dasharray: 337px;
      stroke-dashoffset: 337px;
      animation: line-anim 0.2s ease forwards 0.2s;
    }
    &:nth-child(2) {
      stroke-dasharray: 164.7px;
      stroke-dashoffset: 164.7px;
      animation: line-anim 0.2s ease forwards 0.4s;
    }
    &:nth-child(3) {
      stroke-dasharray: 180px;
      stroke-dashoffset: 180px;
      animation: line-anim 0.2s ease forwards 3s;
    }
    &:nth-child(4) {
      stroke-dasharray: 337px;
      stroke-dashoffset: 337px;
      animation: line-anim 0.2s ease forwards 0.6s;
    }
    &:nth-child(5) {
      stroke-dasharray: 354.5px;
      stroke-dashoffset: 354.5px;
      animation: line-anim 0.2s ease forwards 0.8s;
    }
    &:nth-child(6) {
      stroke-dasharray: 305px;
      stroke-dashoffset: 305px;
      animation: line-anim 0.2s ease forwards 1s;
    }
    &:nth-child(7) {
      stroke-dasharray: 163px;
      stroke-dashoffset: 163px;
      animation: line-anim 0.2s ease forwards 1.2s;
    }
    &:nth-child(8) {
      stroke-dasharray: 270px;
      stroke-dashoffset: 270px;
      animation: line-anim 0.2s ease forwards 1.4s;
    }
    &:nth-child(9) {
      stroke-dasharray: 205px;
      stroke-dashoffset: 205px;
      animation: line-anim 0.2s ease forwards 1.6s;
    }
    &:nth-child(10) {
      stroke-dasharray: 378px;
      stroke-dashoffset: 378px;
      animation: line-anim 0.2s ease forwards 1.8s;
    }
    &:nth-child(11) {
      stroke-dasharray: 378px;
      stroke-dashoffset: 378px;
      animation: line-anim 0.2s ease forwards 2s;
    }
    &:nth-child(12) {
      stroke-dasharray: 259px;
      stroke-dashoffset: 259px;
      animation: line-anim 0.2s ease forwards 2.2s;
    }
    &:nth-child(13) {
      stroke-dasharray: 275px;
      stroke-dashoffset: 275px;
      animation: line-anim 0.2s ease forwards 2.4s;
    }
    &:nth-child(14) {
      stroke-dasharray: 216px;
      stroke-dashoffset: 216px;
      animation: line-anim 0.2s ease forwards 2.6s;
    }
    &:nth-child(15) {
      stroke-dasharray: 337px;
      stroke-dashoffset: 337px;
      animation: line-anim 0.2s ease forwards 2.8s;
    }
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-anim {
  from {
    fill: transparent;
  }
  to {
    fill: #f1f1f1;
  }
}

@keyframes yourAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes HeroAnimation {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

//Media queries
@import "media";
